<nav id="footer_home" class="navbar navbar-inverse" role="navigation">
  
<div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <div class="navbar-collapse collapse in">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to 'REBOLIÇO CEARENCE', welcome_path %>
          </li>
        </ul>
      </div>
    </div>


    <div class="navbar-collapse collapse in" id="bs-example-navbar-collapse-1" aria-expanded="true" style="">
      <!--Botoes a esquerda-->
      <!--<ul class="nav navbar-nav">-->
      <!--  <li> <%= link_to 'SAIBA MAIS' %></li>-->
      <!--</ul>      -->
      
      <ul class="nav navbar-nav">
        <li> <%= link_to 'SOBRE O REBOLIÇO-CE', about_path %> </li>
      </ul>  
      
      <ul class="nav navbar-nav">
        <li> <%= link_to 'FAZER CADASTRO', signup_path, method: "get" %> </li>
      </ul> 
             
      <!--botoes a direita-->
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'FALE CONOSCO', logout_path, method: "delete" %></li>
      </ul>
      
    </div>
  </div>
</nav>