<nav class="navbar navbar-inverse" role="navigation">
  
  <div class="container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <div class="navbar-collapse collapse in">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to 'Reboliço Cearense', welcome_path %>
          </li>
        </ul>
      </div>
    </div>


    <div class="navbar-collapse collapse in" id="bs-example-navbar-collapse-1" aria-expanded="true" style="">
      <!--Botoes a esquerda-->
      <ul class="nav navbar-nav">
        <li> <%= link_to 'Eventos', events_path %> </li>
        <% if current_user!=nil %>
          <li> <%= link_to 'Meu Perfil', user_path(current_user) %> </li>
        <% end %>
      </ul>      
      
      <!--botoes a direita-->
      <ul class="nav navbar-nav navbar-right">
        <% if current_user!=nil %>
          <li><%= link_to 'Sair', logout_path, method: "delete" %></li>
        <% else %>
          <li> <%= link_to 'Fazer cadastro', signup_path, method: "get" %> </li>
          <li> <%= link_to 'Entrar', login_path, method: "get" %> </li>
        <% end %>
      </ul>
      
      <!--Campo de busca-->
      <!--<form class="navbar-form navbar-right" role="search">-->
      <!--  <div class="form-group">-->
      <!--    <input class="form-control" placeholder="Search" type="text">-->
      <!--  </div>-->
      <!--  <button type="submit" class="btn btn-default">Buscar</button>-->
      <!--</form>-->
      
      

      <!--<form class="navbar-form navbar-right" role="search" >-->
      <!--  <div class="form-group">-->
      <!--    <%= form_tag(events_path, :method => "get", id: "search-form") do %>-->
      <!--      <%= text_field_tag :search, params[:search], placeholder: "Search Events", class: "form-control"  %>-->
      <!--      <%= submit_tag "Search", class: "btn btn-default" %>-->

      <!--    <% end %>-->
      <!--  </div>-->
      <!--</form>-->
      
      
      
      
      
      

    </div>
  </div>
</nav>