<div>
    
    <!--Container mensagem de saudacao-->
    <div id="main-container" class="container">
        <div>
            <h2>Página Inicial</h2>
        </div>
        
        <div id="div_centralizada" class="center jumbotron">
            <% if current_user!= nil %>
                <h2>Olá, <%= current_user.name %>!</h2>
                <h3>
                    Bem-vindo(a) ao Rebolico Cearense!
                    <br>
                    Publique um <%= link_to 'novo evento', new_event_path, class: "btn-link" %> agora ou fique por dentro de <%= link_to "todos os eventos", events_path, class: "btn-link" %> pelo Ceará!</br>
                </h3>
            <% else %>
                <h2>Bem-vindo(a) ao Rebolico Cearense!</h2>
                <h3>Fique por dentro de <%= link_to "todos os eventos", events_path %> pelo Ceará e publique os seus.</h3>
                    <%= link_to "Cadastre-se agora!", signup_path, method: "get", class: "btn btn-lg btn-success" %>
            <% end %>
        </div>
    </div>
    
    <br>
    
    <!--Cards-->
    <div id="main-container" class="container">
        <div>
            <h3><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>  Eventos de Hoje</h3>
        </div>
        <div id="div_centralizada" class="center jumbotron">
            
            <div class="row">
                <% @events.each do |event| %>
                    
                    <% if event.eventdate.strftime("%Y-%m-%d") == Time.now.strftime("%Y-%m-%d") %>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <%= event.eventdate %>
                                <!--Date.current.day-->
                                <div class="caption">
                                    <h3><%= event.title %></h3>
                                    <p><%= event.description %></p>
                                    <%= link_to "Show", event, class: "btn btn-success" %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    
                <% end %>    
            </div>            
    
        </div>
    </div>
    
    
</div>