<!DOCTYPE html>
<html>
  
  <head>
    <title>RebolicoCE</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://bootswatch.com/flatly/bootstrap.css" %>
  </head>

  <body>
    <%= render 'welcome/navigation' %>
    <%= yield %>
    <%= render 'welcome/footer' %>
  </body>
  
</html>
