<h1>Log in</h1>
<%= form_for(:session, url: login_path) do |f| %>
	<div class="center jumbotron">
	 	<div>
		  <form class="form-horizontal">
		    <fieldset>
		        <div class="form-group">
		          <label for="inputEmail" class="col-lg-2 control-label">Email</label>
		          <div class="col-lg-10">
		            <%= f.text_field :email, class: "form-control" %>
		          </div>
		        </div>
		
		        <div class="form-group">
		          <label for="inputPassword_Field" class="col-lg-2 control-label">Senha</label>
		          <div class="col-lg-10">
		            <%= f.password_field :password, class: "form-control" %>
		          </div>
		        </div>
		
		        <div class="form-group">
		          <div class="col-lg-10 col-lg-offset-2">
		            <%= f.submit "Log in", class: 'btn btn-success' %>
		          </div>
		        </div>
		        
		      
		    </fieldset>
		  </form>
	  </div>
	</div>
<% end %>