<%= form_for(event) do |f| %>
  <div class="center jumbotron">
    <form class="form-horizontal">
      <fieldset>
      
  
        <% if event.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this event from being saved:</h2>
      
            <ul>
            <% event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
  

      
        <div class="form-group">
          <label for="inputTitle" class="col-lg-2 control-label">Título</label>
          <div class="col-lg-10">
            <%= f.text_field :title, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label for="inputDescription" class="col-lg-2 control-label">Descrição</label>
          <div class="col-lg-10">
            <%= f.text_field :description, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label for="inputAddress" class="col-lg-2 control-label">Endereço</label>
          <div class="col-lg-10">
            <%= f.text_field :address, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label for="inputNeighborhood" class="col-lg-2 control-label">Bairro</label>
          <div class="col-lg-10">
            <%= f.text_field :neighborhood, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label for="inputCity" class="col-lg-2 control-label">Cidade</label>
          <div class="col-lg-10">
            <%= f.text_field :city, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label for="inputState" class="col-lg-2 control-label">Estado</label>
          <div class="col-lg-10">
            <%= f.text_field :state, class: "form-control" %>
          </div>
        </div>
          
        <div class="form-group">
          <label for="inputCep" class="col-lg-2 control-label">CEP</label>
          <div class="col-lg-10">
            <%= f.text_field :cep, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label for="inputEventdate" class="col-lg-2 control-label">Data do Evento</label>
          <div class="col-lg-10">
            <%= f.date_select :eventdate, {order: [:month, :day, :year], prompt: { day: 'Selecione dia', month: 'Selecione mês', year: 'Selecione ano' }, start_year: Date.today.year - 18, end_year: Date.today.year}, {required: true} %>
          </div>
        </div>
      
        <div class="form-group">
          <label for="inputEventtime" class="col-lg-2 control-label">Horário do Evento</label>
          <div class="col-lg-10">
            <%= f.time_select :eventtime, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label for="inputPrice" class="col-lg-2 control-label">Preço do Evento</label>
          <div class="col-lg-10">
            <%= f.number_field :price, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label for="inputState" class="col-lg-2 control-label">ID Usuário</label>
          <div class="col-lg-10">
            <%= f.text_field :user_id, :value => current_user.id, :readonly => true, class: "form-control" %>
          </div>
        </div>
        
        <div class="actions">
          <div class="col-lg-10 col-lg-offset-2">
            <%= f.submit "Cadastrar", class: 'btn btn-success' %>
            <%= link_to "Cancelar", events_path, class: 'btn btn-default' %>
          </div>
        </div>


      </fieldset>
    </form>
  </div>
<% end %>