<div id="main-container" class="container">
  
   <div>
        <h2>Todos os Eventos</h1>
    </div>
    
    <br>
    
    <p id="notice"><%= notice %></p>


    <form id="main-container" class="container" role="search" >
      <div class="form-group">    
        <%= form_tag(events_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Digite o título ou bairro", class: "form-control"  %>
          <%= submit_tag "Buscar", class: "btn btn-default" %>
        <% end %>
      </div>
    </form>
          
          
  <div id="main-container" class="container">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Título</th>
          <th>Endereço</th>
          <th>Bairro</th>
          <th>Divulgador</th>
          <th>Descrição</th>
          <th>Valor</th>
          <th>Data</th>

          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.title %></td>
            <td><%= event.address %></td>
            <td><%= event.neighborhood %></td>
            
            <% user = @users.find_by(id: event.user_id) %>
            <td><%= user.name %></td>

            <td><%= event.description %></td>
            <td><%= event.price %></td>
            <td><%= event.eventdate %></td>
            
            <% if current_user!=nil %>
              <% if current_user.id == event.user_id %>
                <td>
                  <%= link_to edit_event_path(event), class: "btn btn-link" do %>
                    <i class="glyphicon glyphicon-pencil"></i>
                  <% end %>
                </td>
     
                <td>
                  <%= link_to event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" do %>
                    <i class="glyphicon glyphicon-trash"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to event, class: "btn btn-link" do %>
                    <i class="glyphicon glyphicon-info-sign"></i>
                  <% end %>
                </td>
              <% else %>
                <td></td>
                <td></td>
                <td>
                  <%= link_to event, class: "btn btn-link" do %>
                    <i class="glyphicon glyphicon-info-sign"></i>
                  <% end %>
                </td>
              <% end %>

            <% else %>
              <td>
                <%= link_to event, class: "btn btn-link" do %>
                  <i class="glyphicon glyphicon-info-sign"></i>
                <% end %>
              </td>
            <% end %>

           

            
          </tr>
        <% end %>
        
      </tbody>
    </table>
    
    <br>
    
    <% if current_user!=nil %>
      <%= link_to "Novo Evento", new_event_path, class: 'btn btn-success' %>
    <% end %>
    
  </div>


</div>