<%= form_for(user) do |f| %>
  
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div class="center jumbotron">
    <form class="form-horizontal">
      <fieldset>
        
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Nome</label>
          <div class="col-lg-10">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
          
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">CPF</label>
          <div class="col-lg-10">
            <%= f.text_field :cpf, class: "form-control" %>
          </div>
        </div>
        
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Data de Nascimento</label>
          <div class="col-lg-10">
            <%= f.date_select :birthdate, {order: [:month, :day, :year], prompt: { day: 'Selecione dia', month: 'Selecione mês', year: 'Selecione ano' }, start_year: Date.today.year - 18, end_year: Date.today.year - 100}, {required: true} %>
          </div>
        </div>
      
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Email</label>
          <div class="col-lg-10">
            <%= f.text_field :email, class: "form-control" %>
          </div>
        </div>
        
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <%= f.submit 'Salvar', class: 'btn btn-success' %>
            <%= link_to "Cancelar", welcome_path, class: 'btn btn-default' %>
          </div>
        </div>
  
      </fieldset>
    </form>
  </div>

<% end %>