<div id="main-container" class="container">
  <div>
    <h2>Cadastro de Usuário</h1>
  </div>
  
        
  <%= form_for(@user) do |f| %>
  
    <div class="center jumbotron">
      <form class="form-horizontal">
        <fieldset>
        
          <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Nome</label>
            <div class="col-lg-10">
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </div>
          </div>
            
          <div class="form-group">
            <label for="inputCpf" class="col-lg-2 control-label">CPF</label>
            <div class="col-lg-10">
              <%= f.text_field :cpf, autofocus: true, class: "form-control" %>
            </div>
          </div>
            
          <div class="form-group">
            <label for="inputBirthdate" class="col-lg-2 control-label">Data de Nascimento</label>
            <div class="col-lg-10">
              <!--<%= f.date_select :birthdate, autofocus: true %>-->
              <%= f.date_select :birthdate, {order: [:month, :day, :year], prompt: { day: 'Selecione dia', month: 'Selecione mês', year: 'Selecione ano' }, start_year: Date.today.year - 18, end_year: Date.today.year - 100}, {required: true} %>
            </div>
          </div>
      
          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>
          </div>
            
          <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Senha(min: 6 carateres)</label>
            <div class="col-lg-10">
              <%= f.password_field :password, autocomplete: "off", class: "form-control"%>
            </div>
          </div>
              
          <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Confirme a senha</label>
            <div class="col-lg-10">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
             <%= f.submit "Cadastrar", class: 'btn btn-success' %>
             <%= link_to "Cancelar", welcome_path, class: 'btn btn-default' %>
            </div>
          </div>
      
        </fieldset>
      </form>
    </div>
  
  <% end %>  

</div>