<div id="main-container" class="container">
  
  
    <div>
        <h2>Meu Perfil</h1>
    </div>
    
    <br>
    
    <div>
      <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Dados do Usuário</h3>
    </div>

    <div class="center jumbotron">
        <h4>Nome: <%= @user.name %></h4>
        <h4>Email: <%= @user.email %></h4>
        <h4>Data de Nascimento: <%= @user.birthdate.strftime("%d/%m/%Y") %></h4>
      <%= link_to "Editar Dados", edit_user_path(@user), class: 'btn btn-success btn-sm' %>
    </div>
    
    <br>
    
    <div>
      <h3><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>  Meus Eventos</h3>
    </div>

    <div>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Endereço</th>
            <th>Bairro</th>
            <th>Data</th>
            <th>Valor</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.title %></td>
              <td><%= event.description %></td>
              <td><%= event.address %></td>
              <td><%= event.neighborhood %></td>
              <td><%= event.eventdate %></td>
              <td><%= event.price %></td>
        
              <td>
                  <%= link_to event, class: "btn btn-link" do %>
                    <i class="glyphicon glyphicon-info-sign"></i>
                  <% end %>
              </td>

              <td>
                <%= link_to edit_event_path(event), class: "btn btn-link" do %>
                  <i class="glyphicon glyphicon-pencil"></i>
                <% end %>
              </td>
     
               <td>
                 <%= link_to event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" do %>
                   <i class="glyphicon glyphicon-trash"></i>
                 <% end %>
               </td>
              
            </tr>
          <% end %>
          
        </tbody>
      </table>
      
      <br>
      
      <%= link_to "Novo Evento", new_event_path, class: 'btn btn-success' %>
      
    </div>
    

</div>